body{
	font-family: $primary-font-stack;
	font-size: 13px;
	line-height: 1.5em;
}

.container {
	min-width: 660px;
	max-width: 800px;
	padding-bottom: 4em;
}


h1, h2{
	color: $cary-blue;
	margin-bottom: 1em;
	margin-top: 1em;
}

h3, h4{
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 2em;
}