.container {
	min-width: 800px;
	max-width: 960px;
}

.color-block {

	.color-block-swatch{
		width: 100%;
		height: 100px;
	}

	.color-block-swatch-white{
		background: #fff;
		border: 1px solid #eee;
	}

	.color-block-swatch-black{
		background: #000;
	}

	.color-block-swatch-blue{
		background: $cary-blue;
	}

	p{
		margin-top: 1.5em;
	}

}

.fonts-block {

	p.fonts-block-type-platino {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

}